name: Dependency Review

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'go.mod'
      - 'go.sum'
      - 'shell.nix'
      - '**/Dockerfile'

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run Dependency Review
        uses: actions/dependency-review-action@v4
